@import '../../../../sass/';

.experience-section-mobile-header {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  grid-area: header;
  margin: 10px 0 2rem;

  span {
    color: $color-important;
    font-family: $font-mono;
    font-size: clamp(16px, 3vw, 20px);
    font-weight: 300;
  }

  h2 {
    margin: 0;
    font-size: clamp(26px, 5vw, 32px);
  }
}

.experience-section-mobile-body {
  position: relative;
  grid-area: body;
  height: auto;

  #tab-indicator {
    position: absolute;
    top: 50px;
    left: 0;
    width: calc(100% / 5);
    height: 2px;
    background-color: $color-important;
    transition: $transition;
    z-index: 10;
  }

  &__tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 8px 20px;
    color: inherit;
    font-family: $font-mono;
    font-size: 13px;
    text-align: left;
    border: 0;
    background: none;
    transition: $transition;
    cursor: pointer;

    p {
      margin: 0;
    }

    span {
      opacity: 0.75;
      font-family: $font-sans;
    }
  }

  .thumbsSwiper {
    border-bottom: 2px solid $color-accent;
    margin-bottom: 1rem;
  }

  &__wrap {
    cursor: move;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }

    &--title {
      font-size: 22px;

      b {
        display: inline-block;
        color: $color-important;
      }
    }

    &--date {
      margin-top: 5px;
      margin-bottom: 25px;
      color: $color-light-gray;
      font-family: $font-mono;
      font-size: 13px;
    }

    &--local {
      font-size: 22px;
      display: inline-block;
      color: $color-important;
    }

    &--desc {
      margin-top: 5px;
      margin-bottom: 25px;
    }
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    object-fit: cover;
    height: 150px;
    aspect-ratio: 3 / 2;
    border-radius: 4px;

    @media (max-width: $media-breakpoint-tablet-mobile) {
      height: 101px;
    }

    @media (max-width: 500px) {
      width: 100%;
      height: auto;
      aspect-ratio: unset;
    }
  }

  .swiper-thumbs .swiper-slide {
    height: 100%;
    color: $color-primary;
  }

  .swiper-thumbs .swiper-slide-thumb-active {
    color: $color-important;
    background-color: $background-color-alfa-red;
  }
}