@import '../../../../sass/';

.experience-section-mobile-btn {
  display: block;
  color: $color-important;
  padding: 0;
  margin-top: 5px;
  border: 0;
  background: none;
}

.experience-section-mobile-header {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  grid-area: header;
  margin: 10px 0 2rem;

  span {
    color: $color-important;
    font-family: $font-mono;
    font-size: clamp(16px, 3vw, 20px);
    font-weight: 300;
  }

  h2 {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin: 0;
    width: 120%;

    &::after {
      content: "";
      width: calc(100% - 1rem);
      height: 1px;
      margin-left: 20px;
      background-color: $background-color-light-blue;
    }
  }
}

.experience-section-mobile-nav {
  background-color: $color-dark-navy;
  border-radius: 4px;

  &__burger {
    display: block;
    color: $color-important;
    padding: 0;
    margin-top: 5px;
    border: 0;
    background: none;
  }
}

.experience-section-mobile-body {
  grid-area: body;

  &__wrap {
    &--title {
      font-size: 22px;

      b {
        display: inline-block;
        color: $color-important;
      }
    }

    &--date {
      margin-bottom: 25px;
      color: $color-light-gray;
      font-family: $font-mono;
      font-size: 14px;
    }

    &--tools {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;

      &__tool {
        color: $color-important;
        line-height: 1.25rem;
        font-weight: 500;
        font-size: 14px;
        padding: 0.25rem 0.75rem;
        border-radius: 1.5rem;
        background-color: $background-color-dark-green;
      }
    }
  }
}