@import '../../../../sass/';

.case-study-desktop {
  position: relative;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
  align-items: center;
  min-height: calc(365px + 2rem);

  &__details {
    display: block;
    grid-area: 1 / 10 / -1 / -1;
    padding: 1.4rem;
    border-radius: 4px;
    box-shadow: 0 10px 30px -15px rgba(0, 0, 0, .11);
    background: linear-gradient(270deg, #f06449, #ef3636);
    transition: $transition;
    z-index: 2;

    @media (max-width: 1080px) {
      grid-column: 1 / 9;
    }

    &:hover {
      box-shadow: 0 20px 30px -15px rgba(0, 0, 0, .11);
    }

    &--header {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;

      &__action {
        display: flex;
        gap: 10px;

        a {
          @include iconStyle();
          color: $background-color-secondary;

          svg {
            &:hover {
              color: $color-accent;
            }
          }
        }
      }

      &__text {
        margin: 0;
        margin-bottom: 10px;
        color: $color-accent;
        font-family: $font-mono;
        font-size: 13px;
      }

      &__title {
        display: inline;
        font-size: clamp(18px, 1.8vw, 1.17em);
        color: $background-color-secondary;
      }
    }

    &--desc {
      color: $background-color-secondary;
    }

    .tools-layout__tool {
      background-color: $color-accent;
      color: $color-dark-navy;
    }
  }

  &:nth-of-type(2n+1) &__details {
    grid-column: 1 / 4;
    text-align: right;
    background: linear-gradient(90deg, #f06449, #ef3636);

    &--header {
      flex-direction: row;
    }
  }

  &__preview {
    display: block;
    grid-area: 1 / 1 / -1 / 9;
    width: 100%;
    z-index: 1;

    &--wrapper {
      display: block;

      &__image {
        width: 100%;
        border-radius: 4px;
      }
    }
  }

  &:nth-of-type(2n+1) &__preview {
    grid-column: 5 / -1;

    @media (max-width: 1080px) {
      grid-column: 5 / -1;
    }
  }
}