@import '../../sass/variables';

.landing-page {
  display: block;
  width: 100%;

  &__section {
    position: relative;
    padding-left: calc(25px + 4rem);
    padding-right: 2rem;
    z-index: 1;

    @media (max-width: $media-breakpoint-tablet-mobile) {
      padding-left: unset;
    }

    &--wrapper {
      width: 100%;
      max-width: 1140px;
      margin: 0 auto;
    }

    &.white-section {
      background-color: $background-color-secondary;
    }

    &.tomato-section {
      background-color: #FFEFF0;
    }

    &.red-section {
      background-color: $color-important;
    }
  }
}