@import '../../../sass/';

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  margin-top: 100px;
  margin-bottom: calc(100px + (2rem + 45px));

  &__welcome {
    margin: 0px 0px 20px 4px;
    color: $color-important;
    font-family: $font-mono;
    font-size: clamp(14px, 5vw, 16px);
    font-weight: 400;
  }

  &__title {
    margin: 0;

    &--name {
      display: block;
      margin: 0;
      font-size: clamp(40px, 8vw, 80px);
    }

    &--position {
      display: block;
      margin-top: 5px;
      font-size: clamp(20px, 6.2vw, 60px);
      color: $color-secondary;
      line-height: 0.9;
    }
  }

  &__description {
    margin: 20px 0px 0px;
    max-width: 540px;
  }

  &__btns {
    display: flex;
    gap: 1rem;
    margin-top: 50px;

    &--action {
      @include primaryButton(1.25rem 1.75rem);
      text-decoration: none
    }

    &--download {
      @include callToActionButton(1.25rem 1.75rem);
    }
  }
}