@import '../../../sass/variables';

.border-composition {
  &__shape {
    stroke-dasharray: 865 145;
    stroke-dashoffset: -150;
    stroke-width: 2px;
    fill: none;
    stroke: $color-important;
  }

  .filledIn {
    stroke-width: 1px;
    stroke: rgba($color-important, 0.65);
  }

  .text-area-type {
    stroke-dasharray: 1030 175;
    stroke-dashoffset: -180;
  }
}