@import '../../../sass/';

.work-section {
  display: flex;
  padding: 100px 0px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @media (max-width: $media-breakpoint-lg) {
      gap: 28px;
      width: 100%;
    }

    &--header {
      display: flex;
      align-items: center;
      gap: 0.7rem;

      span {
        color: $color-important;
        font-family: $font-mono;
        font-size: clamp(16px, 3vw, 20px);
        font-weight: 300;
      }

      h2 {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        margin: 0;
        width: 120%;
        font-size: clamp(26px, 5vw, 32px);

        &::after {
          content: "";
          width: calc(100% - 1rem);
          height: 1px;
          margin-left: 20px;
          background-color: $background-color-light-blue;
        }
      }
    }

    &--body {
      display: flex;
      flex-direction: column;
      gap: 6rem;

      @media (max-width: $media-breakpoint-lg) {
        gap: 42px;
      }
    }
  }
}