@import '../../../sass/';

.work-section {
  display: flex;
  padding: 100px 0px;

  @media (min-width: $media-breakpoint-desktop-tablet) {
    margin-right: calc(25px + 2rem);
  }

  @media (max-width: $media-breakpoint-tablet-mobile) {
    padding: 60px 0px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4rem;

    @media (max-width: $media-breakpoint-lg) {
      gap: 28px;
    }

    @media (max-width: $media-breakpoint-sm) {
      gap: 1rem;
    }

    &--header {
      display: flex;
      align-items: center;
      gap: 0.7rem;

      @media (max-width: $media-breakpoint-desktop-tablet) {
        margin-bottom: 2rem;
      }

      @media (max-width: $media-breakpoint-sm) {
        margin-bottom: 0;
      }

      span {
        color: $color-important;
        font-family: $font-mono;
        font-size: clamp(16px, 3vw, 20px);
        font-weight: 300;
      }

      h2 {
        margin: 0;
        font-size: clamp(26px, 5vw, 32px);
      }
    }

    &--body {
      display: flex;
      flex-direction: column;
      gap: 6rem;

      @media (max-width: $media-breakpoint-desktop-tablet) {
        gap: 10rem;
      }

      @media (max-width: $media-breakpoint-md) {
        gap: 75px;
      }
    }
  }
}