@import '../../../sass/variables';

.mobile-nav-bar {
  position: relative;

  &__btn {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: inherit;
    height: inherit;
    background: none;
    border: 0;
    cursor: pointer;
    transition: box-shadow .4s ease;
    backface-visibility: hidden;
  }

  &__hamburger {
    position: absolute;
    top: 0;
    left: 10px;
    z-index: 1;
    width: 40px;
    height: 40px;
    background: none;
    border: 0;
    transition: box-shadow .4s ease;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    &--figure {
      position: relative;
      flex: none;
      width: 100%;
      height: 2px;
      background: $color-important;
      transition: all .4s ease;
      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        left: 0;
        width: 100%;
        height: 2px;
        background: inherit;
        transition: all 0.4s ease;
      }

      &::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: 10px;
        left: 0;
        width: 100%;
        height: 2px;
        background: inherit;
        transition: all 0.4s ease;
      }
    }
  }

  .mobile-nav-bar__hamburger--figure.active-mobile-nav-burger {
    transform: rotate(135deg);

    &::before {
      top: 0;
      transform: rotate(90deg);
    }

    &::after {
      top: 0;
      transform: rotate(90deg);
    }
  }
}