@import '../../../sass/';

.socials-bar {
  position: fixed;
  left: 2rem;
  bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
  z-index: 5;

  @media (max-width: $media-breakpoint-tablet-mobile) {
    position: static;
    flex-direction: row;

    &__hr {
      display: none;
    }
  }

  &__icon {
    @include iconStyle();
  }

  &__hr {
    height: 90px;
    width: 1px;
    margin: 0 auto;
    border: 0;
    background-color: $color-light-gray;
  }
}