@import '../../../sass/variables';

.tools-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  &__tool {
    color: $color-darkest-slate;
    line-height: 1.25rem;
    font-weight: 500;
    font-size: 13px;
    padding: 0.25rem 0.75rem;
    border-radius: 7px;
    background-color: $color-lightest-navy;
  }
}