@import '../../../../sass/';

.experience-section-desktop-header {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  grid-area: header;
  margin: 10px 0 2rem;

  span {
    color: $color-important;
    font-family: $font-mono;
    font-size: clamp(16px, 3vw, 20px);
    font-weight: 300;
  }

  h2 {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin: 0;
    width: 120%;

    &::after {
      content: "";
      width: calc(100% - 1rem);
      height: 1px;
      margin-left: 20px;
      background-color: $background-color-light-blue;
    }
  }
}

.experience-section-desktop-tabs {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-area: nav;

  &__btn {
    margin: 0;
    padding: 0 20px;
    height: 42px;
    color: $color-primary;
    font-family: $font-mono;
    font-size: 13px;
    text-align: left;
    border: 0;
    border-left: 2px solid $background-color-light-blue;
    background: none;
    transition: $transition;

    &:hover {
      color: $color-important;
      background-color: $background-color-important;
    }
  }

  #tab-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 42px;
    background-color: $color-important;
    transition: $transition;
  }

  &__btn.selected {
    color: $color-important;
  }
}

.experience-section-desktop-body {
  grid-area: body;
  min-height: 400px;

  &__wrap {
    &--title {
      font-size: 22px;

      b {
        display: inline-block;
        color: $color-important;
      }
    }

    &--date {
      margin-bottom: 25px;
      color: $color-light-gray;
      font-family: $font-mono;
      font-size: 13px;
    }
  }
}