@import '../../../../sass/variables';

.recommends-mobile-swiper {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &--profile {
      display: flex;
      gap: 10px;
      text-decoration: none;

      &__image {
        display: block;
        height: 48px;
        width: 48px;
        border-radius: 50%;
        overflow: hidden;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }

      &__details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2px;

        @media (max-width: $media-breakpoint-sm) {
          gap: 0;
        }

        h3 {
          margin: 0;
          font-weight: 400;
          height: 19.8px;
          overflow: hidden;

          @media (max-width: $media-breakpoint-sm) {
            font-size: 15px;
            height: 19.5px;
          }
        }

        p {
          margin: 0;
          color: $color-important;

          @media (max-width: $media-breakpoint-sm) {
            font-size: 15px;
          }
        }
      }
    }

    &--space {
      display: block;
      width: 102px;
      height: 39px;
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    gap: 6px;
    color: inherit;
    text-decoration: none;

    &:hover {
      span {
        text-decoration: underline;
      }
    }

    svg {
      width: 24px;
      height: 24px;
    }

    span {
      font-size: 12px;
      line-height: 1;
    }
  }
}