.menuUnfold {
  opacity: 1;
  transition: opacity ease-out 1s;
  transition-delay: 0.2s;

  &__arrow {
    transition: opacity ease-out 1s, d ease-out 1s;
    transition-delay: 0.1s;
  }

  &__path1 {
    transition: opacity ease-out 0.4s, d ease-out 0.4s;
  }

  &__path2 {
    transition: opacity ease-out 0.4s, d ease-out 0.4s;
    transition-delay: 0.1s;
  }

  &__path3 {
    transition: opacity ease-out 0.4s, d ease-out 0.4s;
    transition-delay: 0.4s;
  }

  &.folded {
    opacity: 0;

    & .menuUnfold__arrow {
      opacity: 0;
      d: path('M15 12L18 15L21 12');
    }

    & .menuUnfold__path1 {
      opacity: 0;
      d: path('M9 5H5');
    }

    & .menuUnfold__path2 {
      opacity: 0;
      d: path('M9 10H5');
    }

    & .menuUnfold__path3 {
      opacity: 0;
      d: path('M9 15H5');
    }
  }
}

.menuFold {
  opacity: 0;
  transition: opacity ease-out 0.2s;
  transition-delay: 0.4s;

  &__path1 {
    d: path('M5 10L19 10');
    transition: all ease-out 0.4s;
  }

  &__path2 {
    d: path('M19 10L5 10');
    transition: all ease-out 0.4s;
  }

  &.fold {
    opacity: 1;

    & .menuFold__path1 {
      d: path('M5 2L19 16');
      transition: all ease-out 0.4s;
      transition-delay: 0.6s;
    }

    & .menuFold__path2 {
      d: path('M19 2L5 16');
      transition: all ease-out 0.4s;
      transition-delay: 0.6s;
    }
  }
}