@import '../../../sass/';

.emailjs-form {
  margin: 0 auto;
  width: 100%;
  max-width: 450px;

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &--section {
      position: relative;
      height: 64px;

      .input-text {
        position: absolute;
        top: 1px;
        left: 1px;
        display: flex;
        width: -webkit-fill-available;
        margin: 0;
        padding: 1rem;
        border: 2px solid $color-primary;
        border-radius: 4px;
        outline: none;
        background: none;

        font-size: 18px;
        font-family: $font-sans;
        color: $color-primary;

        &:focus,
        &:not(:focus):valid {
          outline: none;
          border: 2px solid $color-important;
        }

        &:focus~.floating-label {
          top: calc(-1rem + 4px);
          color: $color-important;
        }

        &:not(:focus):valid~.floating-label {
          top: calc(-1rem + 4px);
          color: rgba($color-important, 0.65);
        }
      }

      .floating-label {
        position: absolute;
        pointer-events: none;
        left: 0.5rem;
        top: 1rem;
        padding: 0 0.5rem;
        background: $background-color-primary;
        transition: 0.2s ease all;
      }

      .section-input-area {
        height: calc(1rem + 108px);
        resize: none;
        padding-bottom: 0;
      }

      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      textarea:-webkit-autofill,
      textarea:-webkit-autofill:hover,
      textarea:-webkit-autofill:focus {
        border: 2px solid transparent;
        -webkit-text-fill-color: $color-primary;
        -webkit-box-shadow: 0 0 0px 1000px $background-color-important inset;
        transition: background-color 5000s ease-in-out 0s;
      }
    }

    .section-text-area {
      height: calc(2rem + 108px);
    }

    &--submit {
      @include callToActionButton();
      margin-top: 7px;
    }
  }
}

.swal-custom-background {
  background-color: $background-color-primary;
}

.swal-custom-title {
  color: $color-primary;
}

.swal-custom-button {
  @include callToActionButton();
  font-size: 13px !important;
  color: $background-color-primary !important;
  margin-top: 0.8rem !important;
  background: $color-important !important;

  &:hover {
    background-image: none !important;
  }
}