@import '../../../sass/';

.emailjs-form {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 450px;

  &__title {
    color: $color-primary;
    font-size: clamp(24px, 5vw, 28px);
    text-align: center;
    font-weight: 500;
    margin: 0;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &--section {
      position: relative;
      height: 64px;

      .input-text {
        position: absolute;
        top: 1px;
        left: 1px;
        display: flex;
        height: calc(58px - 2rem);
        width: clamp(225px, calc(100vw - 5rem), calc(448px - 2rem));
        margin: 0;
        padding: 1rem;
        border: 2px solid $color-secondary; //$color-dark-slate
        border-radius: 4px;
        outline: none;
        background: none;

        font-size: 18px;
        font-family: $font-sans;
        color: $color-primary;

        &:focus,
        &:not(:focus):valid {
          outline: none;
          border: 2px solid transparent;
        }

        &:focus~.floating-label {
          top: calc(-1rem + 4px);
          color: $color-important;
        }

        &:not(:focus):valid~.floating-label {
          top: calc(-1rem + 4px);
          color: rgba($color-important, 0.65);
        }
      }

      .floating-label {
        position: absolute;
        pointer-events: none;
        left: calc(1rem + 2px);
        top: calc(1rem + 2px);
        padding: 0;
        background: none;
        transition: 0.2s ease all;
      }

      .section-input-area {
        height: calc(1rem + 108px);
        resize: none;
        padding-bottom: 0;
      }

      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      textarea:-webkit-autofill,
      textarea:-webkit-autofill:hover,
      textarea:-webkit-autofill:focus {
        border: 2px solid transparent;
        -webkit-text-fill-color: $color-primary;
        -webkit-box-shadow: 0 0 0px 1000px $background-color-important inset;
        transition: background-color 5000s ease-in-out 0s;
      }
    }

    .section-text-area {
      height: calc(2rem + 108px);
    }

    &--submit {
      @include callToActionButton();
      margin-top: 7px;
    }
  }

  &__shape {
    position: absolute;
    top: calc(50% + 55px);
    left: 50%;
    width: calc(448px*1.5 - 2rem);
    height: calc(448px*1.5 - 2rem);
    max-width: calc(100vw - 1rem);
    overflow: hidden;
    transform: translate(-50%, -50%);
    z-index: -1;

    &--sewers {
      position: absolute;
      top: 50%;
      left: 50%;
      width: calc(448px*1.5 - 2rem);
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      background: rgb(10, 25, 47);
      background: linear-gradient(0deg, rgba(10, 25, 47, 74) 8%, rgba(100, 255, 218, 0.26) 100%);
      transform: translate(-50%, -50%);
    }
  }
}

.swal-custom-background {
  background-color: $background-color-primary;
}

.swal-custom-title {
  color: $color-primary;
}

.swal-custom-button {
  @include callToActionButton();
  font-size: 14px !important;
  color: $background-color-primary !important;
  margin-top: 0.8rem !important;
  background: $color-important !important;

  &:hover {
    background-image: none !important;
  }
}