@import '../../../sass/variables';

.emailjs-form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin: 0 auto;
  width: 100%;
  max-width: 450px;

  &__title {
    color: $color-primary;
    font-size: clamp(24px, 5vw, 28px);
    margin: 0;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    &--section {
      position: relative;
      width: 450px;
      height: 64px;

      .input-text {
        position: absolute;
        top: 1px;
        left: 1px;
        display: flex;
        height: calc(58px - 2rem);
        width: calc(448px - 2rem);
        margin: 0;
        padding: 1rem;
        border: 2px solid $color-dark-slate;
        border-radius: 4px;
        outline: none;
        background: none;

        font-size: 18px;
        font-family: $font-sans;
        color: $color-primary;

        &:focus,
        &:not(:focus):valid {
          outline: none;
          border: 2px solid transparent;
        }

        &:focus~.floating-label,
        &:not(:focus):valid~.floating-label {
          top: calc(-1rem + 4px);
          color: $color-important;
        }
      }

      .floating-label {
        position: absolute;
        pointer-events: none;
        left: calc(1rem + 2px);
        top: calc(1rem + 2px);
        padding: 0;
        background: none;
        transition: 0.2s ease all;
      }
    }
  }
}