@import '../../../sass/variables';

.language-switcher {
  display: flex;

  button {
    display: block;
    font-size: 14px;
    font-family: $font-mono;
    font-weight: 600;
    color: $color-primary;
    text-decoration: none;
    border: 0;
    background: none;
    transition: $transition;

    @media (max-width: $media-breakpoint-desktop-tablet) {
      font-size: 16px;
    }

    &:hover {
      color: $color-important;
    }

    &::after {
      content: '';
      display: block;
      width: 0;
      height: 0.05rem;
      background-color: $color-important;
      transition: $transition;

      @media (max-width: $media-breakpoint-desktop-tablet) {
        height: 0.1rem;
      }
    }

    &:hover::after {
      width: 100%;
    }
  }

  hr {
    margin: 0;
    border: 0;
    width: 0.05rem;
    background-color: $color-important;

    @media (max-width: $media-breakpoint-desktop-tablet) {
      width: 0.1rem;
    }
  }
}

.lngs-switch-active::after {
  width: 100% !important;
  background-color: $color-important !important;
}