@import '../../../sass/variables';

.footer-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  @media (max-width: $media-breakpoint-tablet-mobile) {
    gap: 1rem;
  }

  &__paragraph {
    color: $color-primary;
    font-family: $font-mono;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    transition: $transition;

    &:hover {
      color: $color-important;
    }
  }
}