@import './sass/';

body {
  margin: 0px;
  width: 100%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  background-color: $background-color-primary;
  color: $color-primary;
  font-family: $font-sans;
  font-size: 18px;
  line-height: 1.3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px 0px 10px;
  font-weight: 700;
  color: $color-primary;
  line-height: 1.1;
}

a,
button {
  cursor: pointer;
}

b {
  color: $color-primary;
  font-weight: 600;
}

.highlighted {
  color: $color-important;
}

.overflow-hidden {
  overflow: auto;
}

.marked {
  display: inline-block;
  color: $color-important;
  text-decoration: none;
  border: 0;

  &::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background-color: $color-important;
    opacity: 0.5;
    transition: $transition;
  }

  &:hover::after {
    width: 100%;
  }
}


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: $color-dark-slate;
  border: 3px solid $background-color-primary;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: $background-color-primary;
}

::selection {
  color: $color-primary;
  background-color: $background-color-light-blue;
}