@import '../../../sass/variables';

.recommends-section {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  gap: 50px;
  padding: 100px 0px;

  @media (max-width: $media-breakpoint-tablet-mobile) {
    gap: 40px;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 0.7rem;

    span {
      color: $color-important;
      font-family: $font-mono;
      font-size: clamp(16px, 3vw, 20px);
      font-weight: 300;
    }

    h2 {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      margin: 0;
      width: 120%;
      font-size: clamp(26px, 5vw, 32px);

      &::after {
        content: "";
        height: 1px;
        margin-left: 20px;
        background-color: $background-color-light-blue;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    width: 80dvw;
    max-width: 560px;
    padding: 20px;
    border-radius: 4px;
    background-color: $background-color-important;
    box-shadow: 0 10px 30px -15px $shadow-navy;
    transition: $transition;

    &--swiper {
      display: flex;
      flex-direction: column;
      max-width: 560px;

      &__footer {
        display: flex;
        justify-content: flex-end;

        @media (max-width: 550px) {
          position: absolute;
          top: 6px;
          right: 0;
          z-index: 1;
        }

        &--arrows {
          display: flex;
          gap: 10px;

          button {
            color: $color-important;
            border: 0;
            background: none;
            transition: $transition;

            &:disabled {
              color: $color-dark-slate;
            }

            &:hover {
              opacity: 0.65;
            }

            svg {
              height: 34px;
              width: 34px;
            }
          }
        }
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      transition: $transition;
    }

    &::after {
      content: "";
      position: absolute;
      top: 14px;
      left: 14px;
      display: block;
      width: 100%;
      height: 100%;
      border: 2px solid $color-important;
      border-radius: 4px;
      transition: $transition;
      z-index: -1;

      @media (max-width: $media-breakpoint-tablet-mobile) {
        top: 5px;
        left: 5px;
      }
    }

    &:hover {
      outline: 0px;
      box-shadow: 0 20px 30px -15px $shadow-navy;

      &::after {
        top: 20px;
        left: 20px;

        @media (max-width: $media-breakpoint-tablet-mobile) {
          top: 5px;
          left: 5px;
        }
      }
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      display: flex;
      flex-direction: column;
    }
  }
}