@import '../../../sass/';

.about-section {
  display: grid;
  grid-template-columns: 3fr minmax(265px, 2fr);
  gap: 50px;
  padding: 100px 0px;

  @media (max-width: $media-breakpoint-tablet-mobile) {
    grid-template-columns: auto;
    padding: 60px 0px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &--header {
      display: flex;
      align-items: center;
      gap: 0.7rem;

      span {
        color: $color-important;
        font-family: $font-mono;
        font-size: clamp(16px, 3vw, 20px);
        font-weight: 300;
      }

      h2 {
        margin: 0;
        font-size: clamp(26px, 5vw, 32px);
      }
    }

    &--body {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      &__skills-list {
        display: grid;
        grid-template-columns: repeat(2, minmax(130px, 200px));
        gap: 0 10px;
        padding: 0;
        margin: 0;
        list-style: none;

        li {
          position: relative;
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          padding-left: 20px;
          font-family: $font-mono;
          font-size: 13px;
        }

        li::before {
          content: "▹";
          position: absolute;
          left: 0px;
          color: $color-important;
          font-size: 13px;
          line-height: 12px;
        }
      }
    }
  }

  &__image {
    position: relative;
    max-width: 300px;
    margin-right: 30px;

    @media (max-width: $media-breakpoint-tablet-mobile) {
      margin: 0 auto;
    }

    @media (max-width: $media-breakpoint-sm) {
      max-width: 68vw;
    }

    &--wrapper {
      display: block;
      position: relative;
      width: 100%;
      border-radius: 4px;
      background-color: $color-important;
      box-shadow: $shadow-md;
      transition: $transition;

      &::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        transition: $transition;
      }

      &::after {
        content: "";
        position: absolute;
        top: 14px;
        left: 14px;
        display: block;
        width: 100%;
        height: 100%;
        border: 3px solid $color-accent;
        border-radius: 4px;
        transition: $transition;
        z-index: -1;
      }

      &:hover {
        outline: 0px;
        box-shadow: $shadow-lg;
        transform: translate(-4px, -4px);

        &::after {
          top: 28px;
          left: 28px;
        }
      }

      &__content {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 4px;
      }

      &__location {
        position: absolute;
        left: 14px;
        bottom: 14px;
        display: flex;
        align-items: center;
        height: 35px;
        width: 190px;
        padding-left: 20px;
        color: $color-dark-navy;
        font-family: $font-mono;
        font-size: 15px;
        clip-path: polygon(96% 0%, 100% 50%, 96% 100%, 0% 100%, 4% 50%, 0% 0%);
        background-color: $color-accent;

        svg {
          margin-right: 14px;
        }
      }
    }
  }
}